<div class="col-lg-8">
    <h1 class="h1-strong">{{title}}
        <button class="btn btn-gs btn-sm" (click)="refresh($event)">Mostrar nuevas</button>
    </h1>
    <div id="publications">
        <div *ngFor="let publication of publications" class="item-publication">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="image-user pull_left">
                        <a [routerLink]="['/perfil', publication.user._id]">
                            <img src="{{ url + 'get-image-user/' + publication.user.image }}" *ngIf="publication.user.image" />
                            <img src="assets/images/user.png" class="avatar-default" *ngIf="!publication.user.image" />
                        </a>
                    </div>
                    <div class="publication-body">
                        <div>
                            <span class="user-name">
                                <a [routerLink]="['/perfil', publication.user._id]">
                                    {{publication.user.name + ' ' + publication.user.surname}}
                                </a>
                            </span>
                            &nbsp;|&nbsp;
                            <span class="date">
                                {{(publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}
                            </span>
                        </div>
                        <h4 class="publication-text">
                            {{publication.text}}
                        </h4>
                        <!--Feedbacks-->
                    
                        <div class="pull-left">
                            <input class="feedbackbtn" type="image" src="assets/images/like.png" (click)="addFeedback(publication)" onmouseout="this.src='assets/images/like.png';"
                                onmouseover="this.src='assets/images/likefull.png';" *ngIf="publication.feedback.indexOf(identity._id) < 0">
                            <input class="feedbackbtn" type="image" src="assets/images/apoyas.png" (click)="unFeedback(publication)" onmouseout="this.src='assets/images/apoyas.png';"
                                onmouseover="this.src='assets/images/like.png';" *ngIf="publication.feedback.indexOf(identity._id) >= 0" title="apoyas">
                            <label>{{publication.feedback.length}}</label>
                               <input class="nofeedbackbtn" type="image" src="assets/images/dislike.png" (click)="addNoFeedback(publication)" onmouseout="this.src='assets/images/dislike.png';"
                                onmouseover="this.src='assets/images/dislikefull.png';" *ngIf="publication.nofeedback.indexOf(identity._id) < 0">
                            <input class="nofeedbackbtn" type="image" src="assets/images/noapoyas.png" (click)="unNoFeedback(publication)" onmouseout="this.src='assets/images/noapoyas.png';"
                                onmouseover="this.src='assets/images/dislike.png';" *ngIf="publication.nofeedback.indexOf(identity._id) >= 0" title="no apoyas">
                            <label>{{publication.nofeedback.length}}</label>
                        </div>
                    </div>

                    <!--Borrar publicacion-->
                        <div style="display: inline-table; float: right;">
                            &nbsp;
                            <!-- Button HTML (to Trigger Modal) -->
                            <a href="#myModal{{publication._id}}" role="button" class="btn btn-large btn-danger" data-toggle="modal" *ngIf="publication.user._id ==identity._id">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>

                            <!-- Modal trash HTML -->
                            <div id="myModal{{publication._id}}" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">¿Seguro que quieres eliminar la publicación?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Se borrará permanentemente la publicación:</p>
                                            <p class="text-warning">
                                                <small>{{publication.text}}</small>
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-primary" (click)="deletePublication(publication._id)" data-dismiss="modal">
                                                Borrar la publicación
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <!-- Comments -->
                        <div style="display: inline-table; float:right;" >
                            &nbsp;
                            <!-- Button HTML (to Trigger Modal) -->
                            <a href="#myModalComment{{publication._id}}" role="button" class="btn btn-large btn-primary" data-toggle="modal" (click)="getComment(publication._id)">
                                <!--<span>{{publication.commentCount}}</span>
                                &nbsp; -->
                                <span class="glyphicon glyphicon-comment" ></span>
                            </a>

                            <!-- Modal comments -->
                            <div id="myModalComment{{publication._id}}" class="modal fade">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">Comentarios</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div> <!-- Formulario de comentario -->
                                                    <form #formAdd="ngForm" (ngSubmit)="addNewComment(formAdd,publication._id , $event)">
                                                        <textarea name="text" #text="ngModel" [(ngModel)]="comment.text" class="form-control" style="resize:none;" required>
                                                        </textarea>
                                                        <span class="alert-danger pull-right" *ngIf="!text.valid && text.touched">
                                                                El mensaje es obligatorio
                                                        </span>
                                                        <br/>
                                                        <input type="submit" value="Enviar comentario" class="btn btn-success" />
                                                    </form>
                                                </div>

<!-- Listado de comentarios -->                   <hr/>                             
                                                <div *ngIf="comments">
                                                    <div *ngFor="let comment of comments" id="item-comment" > 
                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                
                                                                <div class="comment-image pull-left">                                                                    
                                                                    <a [routerLink]="['/perfil', comment.user._id]" data-dismiss="modal">
                                                                        <img src="{{ url + 'get-image-user/' + comment.user.image }}" *ngIf="comment.user.image" />
                                                                        <img src="assets/images/user.png" class="avatar-default" *ngIf="!comment.user.image" />
                                                                    </a>
                                                                </div>
                                                                <h4>
                                                                    <div class="comment-user">
                                                                        <a [routerLink]="['/perfil', comment.user._id]" data-dismiss="modal">
                                                                            {{comment.user.name}} {{comment.user.surname}}
                                                                        </a>
                                                                    </div>
                                                                    <small class="text-muted">
                                                                        - {{(comment.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}
                                                                    </small>
                                                                </h4>
                                                                <h5 class="comment-text">
                                                                    {{comment.text}}
                                                                </h5>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>  
                                                    <div *ngIf="comments.length<1">
                                                        <br/>
                                                        <h4>No hay comentarios, ¡Se el primero en comentar!</h4>
                                                    </div>                                               
                                                </div>     
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <div style="display: inline-table; float:right;" *ngIf="publication.file != 'null' ">
                            <button class="btn btn-warning " (click)="showThisImage(publication._id)" *ngIf="showImage !=publication._id">
                                <span class="glyphicon glyphicon-picture"></span>
                            </button>
                            <button class="btn btn-danger " (click)="hideThisImage(publication._id)" *ngIf="showImage ==publication._id">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>

                        <div class="image-content" *ngIf="publication.file != 'null' && showImage == publication._id">                            
                            <div class="publication-image">
                                <img src="{{ url + 'get-image-pub/' + publication.file}}" class="col-lg-12" />
                            </div>
                            
                        </div>
                    </div>
                </div>
            
        </div>
    </div>

    <div class="col-lg-12 text-center">
        <p>
            <button class="btn btn-gs" (click)="viewMore()" *ngIf="!noMore">
                Ver mas
            </button>
        </p>
    </div>
</div>

<sidebar (sended)="refresh($event)" class="side"></sidebar>

<div class="clearfix"></div>