<DIV class="col-lg-8 col-lg-offset-2 register">
	

	<div class="alert-success" *ngIf="status =='success'">
		Registro completado correctamente
	</div>
	<div class="alert-danger" *ngIf="status =='error'">
		El registro no ha podido completarse, puede que tu nick o email y este en uso, 
		intentalo de nuevo con otros datos.
	</div>

	<div class="panel-izq col-lg-6">
		<h1>GameSociety</h1>
		<p>La mejor comunidad para jugadores</p>
		<img src="../../assets/images/logoicono.png" class="logo-img-panel">
	</div>
	
	<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-6 register-form">
		<h1 class="h1-strong-2	">{{title}}</h1>
		<p class="center-elements">
			<label>Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control form-center" required /> 
			<span class="alert-danger" *ngIf="!name.valid && name.touched">
				El nombre es obligatorio! 
			</span>
		</p>

		<p class="center-elements">
			<label>Apellidos</label>
			<input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control form-center" required /> 
			<span class="alert-danger" *ngIf="!surname.valid && surname.touched">
				Los apellidos son obligatorio! 
			</span>
		</p> 

		<p class="center-elements">
			<label>Apodo</label>
			<input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control form-center" required /> 
			<span class="alert-danger"*ngIf="!nick.valid && nick.touched">
				El apodo es obligatorio! 
			</span>
		</p>

		<p class="center-elements">
			<label>Email</label>
			<input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control form-center" required 
			pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  /> 
			<span class="alert-danger" *ngIf="!email.valid && email.touched">
				El correo no es valido 
			</span>
		</p>

		<p class="center-elements">
			<label>Contraseña</label>
			<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control form-center" required /> 
			<span class="alert-danger" *ngIf="!password.valid && password.touched">
				La contraseña es obligatorio! 
			</span>
		</p>
	
		<input type="submit" value ="{{title}}" class="btn btn-gs btn-gs-lr" [disabled]="!registerForm.form.valid" />
	</form>	
</DIV>