<div class = "col-lg-8 col-lg-offset-2 login">	
	
	
	<div class="alert alert-success" *ngIf="status =='success'">
		Identificado Correctamente
	</div>
	<div class="alert alert-danger" *ngIf="status =='error'">
		No te has podido identificar correctamente	 
	</div>

	<div class="panel-izq col-lg-6">
		<h1>GameSociety</h1>
		<p>La mejor comunidad para jugadores</p>
		<img src="../../assets/images/logoicono.png" class="logo-img-panel">
	</div>

	<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6 login-form">
		<h1 class="h1-strong-2"> {{tittle}} </h1>
		<p class="center-elements">
			<label>Correo electrónico</label>
			<input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control form-center" required 
			pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  />
			<span class="alert-danger" *ngIf="!email.valid && email.touched">
				El mail no es correcto
			</span> 
		</p>
		<p class="center-elements">
			<label>Contraseña</label>
			<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control form-center" required />
			<span class="alert-danger" *ngIf="!password.valid && password.touched">
				La contraseña es obligatoria
			</span> 
		</p>
		<input type="submit" value ="Entrar" class="btn btn-gs btn-gs-lr" [disabled]="!loginForm.form.valid" />

	</form>

</div>
