/*COLORES DE FONDO DEL BODY Y TAMAÑO DE LA PAGINA*/
body {
  
  background: #f8f5f0;
  font-family: "fuente";
}

.body-a{
	font-family: "fuente";
	margin: 0;
}

.body-b {
	background: #DEDEDE;
    display: flex;
    min-height: 100vh;
    font-family: "fuente";
}

a {
  font-family: "fuente";
  text-decoration: none;
  color: #3498db;
}

/* */
.content-profile-page {
  margin: 1em auto;
  width:100%;
  font-family: "fuente";
}

.card {
  background: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: .1em solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1em; 
  font-family: "fuente";
}

.profile-user-page .img-user-profile {
	margin: 0 auto;
  text-align: center; 
  font-family: "fuente";
}
.profile-user-page .img-user-profile .profile-bgHome {
  border-bottom: .2em solid #f5f5f5;
  width:100%;
  height: 16em;
  font-family: "fuente";
  }
.profile-user-page .img-user-profile .avatar {
  margin: 0 auto;
  background: #fff;
  width: 12em;
  height: 12em;
  padding: 0.25em;
  border-radius: .4em;
  margin-top: -10em;
  box-shadow: 0 0 .1em rgba(0, 0, 0, 0.35);
  font-family: "fuente";
  border-image: 2%;
}
.profile-user-page button {
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  width: 7em; 
  background: #22467A;
  border: 1px solid #2487c9;
  color: #fff;
  outline: none;
  border-radius: 20%;
  padding: .80em;
  font-family: "fuente";
  margin: 2%;
}
.profile-user-page button:hover {
  background: #51a7e0;
  transition: background .2s ease-in-out;
  border: 1px solid #2487c9;
  font-family: "fuente";
}
.profile-user-page .user-profile-data, .profile-user-page .description-profile {
  font-family: "fuente";
  text-align: center;
  padding: 0 1.5em; 
}
.profile-user-page .user-profile-data h1 {
  margin-top: 0.35em;
  color: #292f33;
  font-family: "fuente";
  margin-bottom: 0; 
}
.profile-user-page .user-profile-data p {
  font-family: "fuente";
  color: #8899a6; 
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 0.5em; 
}
.profile-user-page .description-profile {
  color: #75787b;
  font-family: "fuente";
  font-size: 0.98em; 
}
.profile-user-page .data-user {
  font-family: "fuente";
  margin-bottom: 0;
  cursor: pointer;
  padding: 0;
  list-style: none;
  display: table;
  width: 100%; 
}
.profile-user-page .data-user li {
  margin: 0;
  padding: 0;
  width: 33.33334%;
  font-family: "fuente";
  display: table-cell;
  text-align: center;
  border-left: 0.1em solid transparent; 
}

.profile-user-page .data-user li a, .profile-user-page .data-user li strong {
  display: block; 
  font-family: "fuente";
}
.profile-user-page .data-user li a {
  background-color:  #22467A;
  border-top: 1px solid rgba(242,242,242,0.5);
  border-bottom: .2em solid #f7f7f7;
  font-family: "fuente";
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 1px 1px rgba(255,255,255,0.4);
  padding: .93em 0;
  color: white;
}
.profile-user-page .data-user li a strong, .profile-user-page .data-user li a span {
  font-weight: 600;
  line-height: 1; 
  font-family: "fuente";
}
.profile-user-page .data-user li a strong {
  font-size: 2em; 
  font-family: "fuente";
}
.profile-user-page .data-user li a span {
  color: white; 
  font-family: "fuente";
}
.profile-user-page .data-user li a:hover {
  background: #51a7e0;
  border-bottom: .2em solid #3498db;
  font-family: "fuente";
  color: white;
}
.profile-user-page .data-user li a:hover span {
  color: white; 
  font-family: "fuente";
}
/* */

/* */
footer h4 {
  display: block;
  text-align: center;
  clear: both;
  font-family: "fuente";
  color: #566965;
  line-height: 6;
  font-size: 1em;
}
footer h4 a {
  font-family: "fuente";
  text-decoration: none;
  color: #3498db;
}
/* */


/*FORMATO AL FORM COMO FONDO Y COLORES Y TIPO DE LETRA*/
form{
    width: 100%;
    max-width: 100%;
    background: #F3F3F3;
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, 2);
    font-family: "fuente";
}
/*TEXTOS QUE USEN H2 DARLES FORMATO*/
h2{
    text-align: center;
    margin-bottom: 70px;
    color: #22467A;
    font-family: "fuente";
}
/*FORMATO DE LOS INPUTS*/
input{
    display: block;
    padding: 15px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
    font-family: "fuente";
}
/*FORMATO DEL BOTON INGRESAR*/
.meh{
    background: #22467A;
    border: 0;
    color: white;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 10%;
    font-family: "fuente";
}

.meh:hover {
    background-color: #51a7e0;
    color: #f2f2f2;
}

@media (max-width:768px){
    .meh{
        width: 95%;
    }
}
/*.meh [type="submit"]:hover {
    opacity: 1;
}
.meh [type="submit"]:active {
    transform: scale(0.95);
}*/



/*CONFIGURACION DE TAMAÑO DE VENTANA PARA QUE SEA RESPONSIVE*/
@media (max-width:768px){
    form{
        width: 95%;
		height: 95%;
    }
}

@media (max-width:480px){
    form{
        width: 95%;
    }
}
/*FINALIZACION DE TAMAÑO DE VENTANA RESPONSIVE*/



/*CONFIGURACION PARA QUE LA IMAGEN SEA RESPONSIVE*/
img{
    width: 100%;
    height: auto;
}


/*CONFIGURACION DE FORMATO DE TEXTOS CON ETIQUETA H4*/
/*LA LINEA DE OLVIDAR CONTRASEÑA*/
h4{
    margin: 0;
    padding: 0;
    font-family: "fuente";
    color: #22467A;
}
/*IMPLEMENTACION DEL TIPO DE LETRA PARA PONERLA EN LAS FUENTES*/
@font-face {
    font-family: "fuente";
    src: url(fuente.ttf) format("truetype");
}

.publicacion{
	border: 1px solid black;
	background-color: #76d3ff;
	border-radius: 20px;
	margin: 2%;
	display: flex;
	padding: 2%;
}

.textoPub{
	padding: 3%;
	display: 0;
}
.pub{
      padding-left: 2%;
}
.imgPub{
	width: 10rem;
    height: auto;
}
.avatar{
	width: 100%;
    height: auto;
}

/* Barra de navegacion */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #22467A;
    overflow: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 20px;
    height: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #51a7e0;
    color: #f2f2f2;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

@media (max-width:768px){
.topnav a{
    width: 95%;
	  height: auto;
    }
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  text-align: center;
}

@media (max-width:768px){
    .topnav-right{
        width: 95%;
		height: auto;
    }
}