<!DOCTYPE  html>
<html lang="es">

<head>

    <!--// TITULO DE LA APLICACION-->
        <title>Gamer Society Perfil</title>

    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">

 <!--IMPORTACION DEL CSS-->
    
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
 <!-- FAVICON DE LA PAGINA-->
 <link rel="shortcut icon" type="image/png" href="./img/favicon_GS.png"/>	

</head>
<body class="body-a">
<div class="topnav">
 <a><img style="width:35px;" " src="./img/logoIcono.png"></a>
  <a href="#timeline">&#9201; Linea de tiempo</a>
  <a href="#games">&#127918; Juegos</a>
  <a href="#profile">&#128134;Perfil</a>
  <div class="topnav-right"><a href="#logout">&#128280; Cerrar Sesion</a></div>
</div>

<div class="content-profile-page">
   <div class="profile-user-page card">
      <div class="img-user-profile">
        <img class="profile-bgHome" src="./img/portada.jpg" />
        <img class="avatar" src="./img/profile.png"/>
           </div>
          
          <div class="user-profile-data">
		  
            <h1>Usuario</h1>
            <p>(descripcion)</p>
			<button>Seguir</button>
          </div> 
       <ul class="data-user">
        <li><a><strong>0</strong><span>Publicaciones</span></a></li>
        <li><a><strong>0</strong><span>Seguidores</span></a></li>
        <li><a><strong>0</strong><span>Siguiendo</span></a></li>
       </ul>
      </div>
    </div>

	<div class="publicacion">
	<img class="imgPub" src="./img/profile.png"/>
	<div class="pub">
 	<h3  class="nombre">nombre</h3>
	<p class="textoPub">Publicacion</p>
	</div>
	</div>

</body>
</html>