<!DOCTYPE  html>
<html lang="es">

<head>

    <!--// TITULO DE LA APLICACION-->
        <title>Gamer Society Perfil</title>

    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">

 <!--IMPORTACION DEL CSS-->
	<link rel="stylesheet" type="text/css" href="css/estilos.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <img style="max-width:50px;" " src="./img/logoIcono.png">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <<span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">&#9201; Linea de tiempo <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="#">&#127918; Juegos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">&#128134;Perfil</a>
		 </li>
    </ul>
	<ul class="navbar-nav">
		<li class="nav-item">
        <a class="nav-link" href="#">Cerrar Sesion</a>
		<ul>
	
  </div>
</nav>


<div class="content-profile-page">
   <div class="profile-user-page card">
      <div class="img-user-profile">
        <img class="profile-bgHome" src="./img/portada.jpg" />
        <img class="avatar" src="./img/profile.png"/>
           </div>
          
          <div class="user-profile-data">
		  
            <h1>Usuario</h1>
            <p>(descripcion)</p>
			<button>Seguir</button>
          </div> 
       <ul class="data-user">
        <li><a><strong>0</strong><span>Publicaciones</span></a></li>
        <li><a><strong>0</strong><span>Seguidores</span></a></li>
        <li><a><strong>0</strong><span>Siguiendo</span></a></li>
       </ul>
      </div>
    </div>

	<div class="publicacion">
	<img class="imgPub" src="./img/profile.png"/>
	<div class="pub">
 	<h3  class="nombre">nombre</h3>
	<p class="textoPub">Publicacion</p>
	</div>
	</div>

</body>
</html>