/*COLORES DE FONDO DEL BODY Y TAMAÑO DE LA PAGINA*/
body {
    background: #DEDEDE;
    display: flex;
    min-height: 100vh;
    font-family: "fuente";
}
/*FORMATO AL FORM COMO FONDO Y COLORES Y TIPO DE LETRA*/
form{
    width: 100%;
    max-width: 100%;
    background: #F3F3F3;
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, 2);
    font-family: "fuente";
}
/*TEXTOS QUE USEN H2 DARLES FORMATO*/
h2{
    text-align: center;
    margin-bottom: 70px;
    color: #22467A;
    font-family: "fuente";
}
/*FORMATO DE LOS INPUTS*/
input{
    display: block;
    padding: 15px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
    font-family: "fuente";
}
/*FORMATO DEL BOTON INGRESAR*/
.meh{
    background: #22467A;
    border: 0;
    color: white;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 10%;
    font-family: "fuente";
}

.meh [type="submit"]:hover {
    opacity: 1;
}
.meh [type="submit"]:active {
    transform: scale(0.95);
}

/*CONFIGURACION DE TAMAÑO DE VENTANA PARA QUE SEA RESPONSIVE*/
@media (max-width:768px){
    form{
        width: 95%;
    }
}

@media (max-width:480px){
    form{
        width: 95%;
    }
}
/*FINALIZACION DE TAMAÑO DE VENTANA RESPONSIVE*/

/*CONFIGURACION PARA QUE LA IMAGEN SEA RESPONSIVE*/
img{
    width: 100%;
    height: auto;
}
/*CONFIGURACION DE FORMATO DE TEXTOS CON ETIQUETA H4*/
/*LA LINEA DE OLVIDAR CONTRASEÑA*/
h4{
    margin: 0;
    padding: 0;
    font-family: "fuente";
    color: #22467A;
}
/*IMPLEMENTACION DEL TIPO DE LETRA PARA PONERLA EN LAS FUENTES*/
@font-face {
    font-family: "fuente";
    src: url(fuente.ttf) format("truetype");
}