@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400|Lato:400,300|Coda|Open+Sans);

/* 
* Art by @jofpin 
* 2014
*/
body {

  background: #f8f5f0;
  font-family: "fuente";
}
a {
  font-family: "fuente";
  text-decoration: none;
  color: #3498db;
}
.content-profile-page {
  margin: 1em auto;
  width:100%;
  font-family: "fuente";
  padding: 2%;
}

.card {
  background: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: .1em solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1em; 
  font-family: "fuente";
}

.profile-user-page .img-user-profile {
	margin: 0 auto;
  text-align: center; 
  font-family: "fuente";
}
.profile-user-page .img-user-profile .profile-bgHome {
  border-bottom: .2em solid #f5f5f5;
  width:100%;
  height: 16em;
  font-family: "fuente";
  }
.profile-user-page .img-user-profile .avatar {
  margin: 0 auto;
  background: #fff;
  width: 12em;
  height: 12em;
  padding: 0.25em;
  border-radius: .4em;
  margin-top: -10em;
  box-shadow: 0 0 .1em rgba(0, 0, 0, 0.35);
  font-family: "fuente";
  border-image: 2%;
}
.profile-user-page button {
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  width: 7em; 
  background: #22467A;
  border: 1px solid #2487c9;
  color: #fff;
  outline: none;
  border-radius: 20%;
  padding: .80em;
  font-family: "fuente";
  margin: 2%;
}

.profile-user-page button:hover {
  background: #51a7e0;
  transition: background .2s ease-in-out;
  border: 1px solid #2487c9;
  font-family: "fuente";
}
.profile-user-page .user-profile-data, .profile-user-page .description-profile {
  font-family: "fuente";
  text-align: center;
  padding: 0 1.5em; 
}
.profile-user-page .user-profile-data h1 {
  margin-top: 0.35em;
  color: #292f33;
  font-family: "fuente";
  margin-bottom: 0; 
}
.profile-user-page .user-profile-data p {
  font-family: "fuente";
  color: #8899a6; 
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 0.5em; 
}
.profile-user-page .description-profile {
  color: #75787b;
  font-family: "fuente";
  font-size: 0.98em; 
}
.profile-user-page .data-user {
  font-family: "fuente";
  margin-bottom: 0;
  cursor: pointer;
  padding: 0;
  list-style: none;
  display: table;
  width: 100%; 
}
.profile-user-page .data-user li {
  margin: 0;
  padding: 0;
  width: 33.33334%;
  font-family: "fuente";
  display: table-cell;
  text-align: center;
  border-left: 0.1em solid transparent; 
}
.profile-user-page .data-user li:first-child {
  border-left: 0; 
  font-family: "fuente";
}
.profile-user-page .data-user li:first-child a {
  border-bottom-left-radius: 0.3rem; 
  font-family: "fuente";
  }
.profile-user-page .data-user li:last-child a {
  border-bottom-right-radius: 0.3rem; 
  font-family: "fuente";
}
.profile-user-page .data-user li a, .profile-user-page .data-user li strong {
  display: block; 
  font-family: "fuente";
}
.profile-user-page .data-user li a {
  background-color:  #22467A;
  border-top: 1px solid rgba(242,242,242,0.5);
  border-bottom: .2em solid #f7f7f7;
  font-family: "fuente";
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 1px 1px rgba(255,255,255,0.4);
  padding: .93em 0;
  color: white;
}
.profile-user-page .data-user li a strong, .profile-user-page .data-user li a span {
  font-weight: 600;
  line-height: 1; 
  font-family: "fuente";
}
.profile-user-page .data-user li a strong {
  font-size: 2em; 
  font-family: "fuente";
}
.profile-user-page .data-user li a span {
  color: white; 
  font-family: "fuente";
}
.profile-user-page .data-user li a:hover {
  background: #51a7e0;
  border-bottom: .2em solid #3498db;
  font-family: "fuente";
  color: white;
}
.profile-user-page .data-user li a:hover span {
  color: white; 
  font-family: "fuente";
}

footer h4 {
  display: block;
  text-align: center;
  clear: both;
  font-family: "fuente";
  color: #566965;
  line-height: 6;
  font-size: 1em;
}
footer h4 a {
  font-family: "fuente";
  text-decoration: none;
  color: #3498db;
}
/*IMPLEMENTACION DEL TIPO DE LETRA PARA PONERLA EN LAS FUENTES*/
@font-face {
    font-family: "fuente";
    src: url(fuente.ttf) format("truetype");
}

.publicacion{
	background-border: #76d3ff;
	background-color: #76d3ff;
	border-radius: 20px;
	margin: 2%;
	display: flex;
	height: 100%;
	padding: 2%;
	line-height: 1.5;
}

.textoPub{
	padding: 3%;
	display: 0;
}
.pub{
     margin-top: 10%;
      padding-left: 2%;
}
.imgPub{
	width: 6%;
    height: auto;
}
.avatar{
	width: 100%;
    height: auto;
}

